
  @import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Lora&display=swap');

*{
    margin: 0;
    padding: 0;
   
}
.form-heading{
    margin-top: -70px;
    text-align: center;
    font-family: 'Lora', serif;
}
.container{
    padding: 100px;
    width: 42%;
    margin: auto;
    /* display: flex;
    justify-content: center;
    align-items: center; */
   
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;    
    font-family: 'Lora', serif;
    overflow-y: hidden;

}
.container .form{
  
    display: flex;
    justify-content: space-between;
   margin-top: 20px;
  
}

.form input{
     padding: 10px 15px;
     width:30rem;
      border-radius: 5px; 
}
.form-btn{
    padding: 12px 10px;
    width: 10rem;
    border-radius: 8px;
    align-items: center;
}
.form-btn:hover{
    background-color:  rgb(14, 14, 238);
    color:white;
}
.btn-wrapper{
    width: 50%;
    margin: auto;
    margin-top: 20px;
}
.form1 input {
   margin-left: 10px;
}
.form1 .form-radio-m{
margin-left: 80px;
}
.form1 .form-radio-f{
margin-left: 10px;
}
.error-center{
    text-align: center;
}
.form-error{
    color: red;
    font-size: 1.0rem;
    text-transform: capitalize;
}